<div class="row menu-bar"></div>
<div class="main-view">
  <ul id="my-blogs-user">
    <%= render 'blog' %>
  </ul>
  <div id="infinite-scrolling-user" class="text-center">
    <%= will_paginate(@blogs) %>
  </div>
</div>