<div class="main">
  <div class="row">
    <div class="row menu-bar"></div>
  </div>
  <div class="row">
    <div class="blog">
      <p>記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</p>

    </div>
  </div>
  <div class="row">
    <div class="blog">
      <p>記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</p>
      
    </div>
  </div>
  <div class="row">
    <div class="blog">
      <p>記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</p>
      
    </div>
  </div>
  <div class="row">
    <div class="blog">
      <p>記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</p>
      
    </div>
  </div>
</div>