<footer class="nav navbar-fixed-bottom" >
  <div class="row" >
    <div class="col-xs-4 footer-menu"></div>
    <div class="col-xs-4 footer-menu active"></div>
    <div class="col-xs-4 footer-menu"></div>
  </div>
</footer>
