/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.container
{
  margin-bottom:100px;
}
.navbar{
  border-radius: 0px !important;
}
.form-title{

  width: 75%;
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}
select{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.cke_contents{
  height: 500px !important;
}
#modal_content{
  background-color: white;
  width: 414px;
  height: 736px;
  max-height: 736px;
  overflow: auto;
}