/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
.container
{
  margin-bottom:100px;
}
.navbar{
  border-radius: 0px !important;
}
.form-title{

  width: 75%;
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}
select{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.cke_contents{
  height: 500px !important;
}
#modal_content{
  background-color: white;
  width: 414px;
  height: 736px;
  max-height: 736px;
  overflow-x: hidden;
  overflow-y: auto;
  video,img{
    max-width: 100%!important;
    height: auto!important;
  }
}

table thead tr th{
  text-align: center;
}
table tbody tr td{
  text-align: center;
}
div.gallery img{
    height: 100px;
}
div.author_avatar_gallery img{
    height: 100px;
}
body{
  height: 100vh;
  width: 100vw;
}

header{
  background-color: #ff7300;
  height: 6.521vh;
  font-size: 24px;
  color: white;
  .text-center p{
    margin-top: 2.09%;
  }
}
footer{
  height: 7.34vh;
  background-color: #40414a;
}
.active{
  background-color: #35373d;
}
.footer-menu{
  height: 7.34vh;
}
.menu-bar{
  background-color: #ffbc01;
  height: 7.646vh;
  width: 100%;
}
.blog{
  margin: 4.79vh 2.99vh 0 2.99vh;
  border-bottom: solid 1px #d7d7d7;
}
.main p{
  font-size: 24px;
  color: #333333;
}
